.add-cart {
  border-radius: 20px;
  background-color: #fcf2f2;
  color: palevioletred;
  padding: 10px;
  transition: all 150ms ease-in-out;
  &:active {
    color: #fcf2f2;
    background-color: palevioletred;

    transform: scale(0.5);
  }
  &:hover {
    color: #fcf2f2;
    background-color: palevioletred;
  }
}

select {
  border: 2px solid #a8a7a7;
}
img:hover {
  transform: scale(1.05);
  transition: all 150ms ease-in-out;
}
